/*-----------------------------------------------------------------------------------*/
/*  Starter
/*-----------------------------------------------------------------------------------*/
/* line 8, ../sass/main.scss */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 15, ../sass/main.scss */
.no-spacer {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

/*-----------------------------------------------------------------------------------*/
/*  Select - left bar
/*-----------------------------------------------------------------------------------*/
/* line 29, ../sass/main.scss */
#select-bar {
  margin-top: 60px;
}
/* line 31, ../sass/main.scss */
#select-bar .search-bar {
  width: 60%;
}
/* line 33, ../sass/main.scss */
#select-bar .search-bar label {
  position: absolute;
  left: 7px;
  top: 3px;
}
/* line 38, ../sass/main.scss */
#select-bar .search-bar label:active, #select-bar .search-bar label:focus {
  visibility: hidden;
}
/* line 42, ../sass/main.scss */
#select-bar .search-bar input {
  width: 100%;
  border-radius: 10px;
  border-color: #000000;
  font-style: italic;
}
/* line 49, ../sass/main.scss */
#select-bar .search-bar input:hover, #select-bar .search-bar input:active, #select-bar .search-bar input:focus {
  border-color: #000000;
}
/* line 53, ../sass/main.scss */
#select-bar .search-bar ::-webkit-input-placeholder {
  margin: 0px 25px !important;
  line-height: 1.5em;
}
/* line 57, ../sass/main.scss */
#select-bar .search-bar :-moz-placeholder {
  margin: 0px 25px;
  line-height: 1.5em;
}
/* line 61, ../sass/main.scss */
#select-bar .search-bar ::-moz-placeholder {
  margin: 0px 25px;
  line-height: 1.5em;
}
/* line 65, ../sass/main.scss */
#select-bar .search-bar :-ms-input-placeholder {
  margin: 0px 25px;
  line-height: 1.5em;
}
/* line 70, ../sass/main.scss */
#select-bar .selectpicker {
  border-radius: 0px;
  background: #93e1fb;
  border: 2px solid #000000;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  margin-top: 60px;
  width: 60%;
}

/*-----------------------------------------------------------------------------------*/
/*  Search Results fetch
/*-----------------------------------------------------------------------------------*/
/* line 89, ../sass/main.scss */
.movie-results-block {
  margin: 15px 0px;
}
/* line 91, ../sass/main.scss */
.movie-results-block .movie-title {
  background-color: #8fd46f;
  border-bottom: 0px;
  border: 2px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 97, ../sass/main.scss */
.movie-results-block .movie-title h2 {
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  padding: 5px 15px;
}
/* line 104, ../sass/main.scss */
.movie-results-block .movie-box {
  min-height: 300px;
  border: 2px solid #000000;
  border-top: 0px;
}
/* line 109, ../sass/main.scss */
.movie-results-block .movie-box .movie-thumb img {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 15px 0px;
}
/* line 116, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate {
  /****** Style Star Rating Widget *****/
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */
}
/* line 118, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate fieldset,
.movie-results-block .movie-box .movie-rate label {
  margin: 0;
  padding: 0;
}
/* line 122, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate body {
  margin: 20px;
}
/* line 125, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate h1 {
  font-size: 1.5em;
  margin: 10px;
}
/* line 130, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate .rating {
  border: none;
  float: left;
  margin-left: 20%;
}
/* line 135, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate .rating > input {
  display: none;
}
/* line 138, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate .rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
/* line 145, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate .rating > .half:before {
  content: "\f089";
  position: absolute;
}
/* line 149, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate .rating > label {
  color: #ddd;
  float: right;
}
/* line 158, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate .rating > input:checked ~ label,
.movie-results-block .movie-box .movie-rate .rating:not(:checked) > label:hover,
.movie-results-block .movie-box .movie-rate .rating:not(:checked) > label:hover ~ label {
  color: #f85b51;
}
/* line 167, ../sass/main.scss */
.movie-results-block .movie-box .movie-rate .rating > input:checked + label:hover,
.movie-results-block .movie-box .movie-rate .rating > input:checked ~ label:hover,
.movie-results-block .movie-box .movie-rate .rating > label:hover ~ input:checked ~ label,
.movie-results-block .movie-box .movie-rate .rating > input:checked ~ label:hover ~ label {
  color: #f33327;
}
/* line 171, ../sass/main.scss */
.movie-results-block .movie-box .movie-description {
  padding-bottom: 15px;
  margin-left: 45px;
}
/* line 174, ../sass/main.scss */
.movie-results-block .movie-box .movie-description label {
  font-weight: normal;
}
/* line 177, ../sass/main.scss */
.movie-results-block .movie-box .movie-description p {
  margin-bottom: -4px;
  font-size: 15px;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
