/*-----------------------------------------------------------------------------------*/


/*  Starter
/*-----------------------------------------------------------------------------------*/

html,
body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.no-spacer {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


/*-----------------------------------------------------------------------------------*/


/*  Select - left bar
/*-----------------------------------------------------------------------------------*/

#select-bar {
    margin-top: 60px;
    .search-bar {
        width: 60%;
        label {
            position: absolute;
            left: 7px;
            top: 3px;
            &:active,
            &:focus {
                visibility: hidden;
            }
        }
        input {
            width: 100%;
            border-radius: 10px;
            border-color: #000000;
            font-style: italic;
            &:hover,
            &:active,
            &:focus {
                border-color: #000000;
            }
        }
        ::-webkit-input-placeholder {
            margin: 0px 25px !important;
            line-height: 1.5em;
        }
        :-moz-placeholder {
            margin: 0px 25px;
            line-height: 1.5em;
        }
        ::-moz-placeholder {
            margin: 0px 25px;
            line-height: 1.5em;
        }
        :-ms-input-placeholder {
            margin: 0px 25px;
            line-height: 1.5em;
        }
    }
    .selectpicker {
        border-radius: 0px;
        background: #93e1fb;
        border: 2px solid #000000;
        font-size: 14px;
        height: 29px;
        padding: 5px;
        margin-top: 60px;
        width: 60%;
    }
}


/*-----------------------------------------------------------------------------------*/


/*  Search Results fetch
/*-----------------------------------------------------------------------------------*/

.movie-results-block {
    margin: 15px 0px;
    .movie-title {
        background-color: #8fd46f;
        border-bottom: 0px;
        border: 2px solid #000000;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        h2 {
            margin: 0px;
            font-weight: normal;
            font-size: 16px;
            padding: 5px 15px;
        }
    }
    .movie-box {
        min-height: 300px;
        border: 2px solid #000000;
        border-top: 0px;
        .movie-thumb {
            img {
                margin-left: auto;
                margin-right: auto;
                width: 60%;
                padding: 15px 0px;
            }
        }
        .movie-rate {
            fieldset,
            label {
                margin: 0;
                padding: 0;
            }
            body {
                margin: 20px;
            }
            h1 {
                font-size: 1.5em;
                margin: 10px;
            }
            /****** Style Star Rating Widget *****/
            .rating {
                border: none;
                float: left;
                margin-left: 20%;
            }
            .rating > input {
                display: none;
            }
            .rating > label:before {
                margin: 5px;
                font-size: 1.25em;
                font-family: FontAwesome;
                display: inline-block;
                content: "\f005";
            }
            .rating > .half:before {
                content: "\f089";
                position: absolute;
            }
            .rating > label {
                color: #ddd;
                float: right;
            }
            /***** CSS Magic to Highlight Stars on Hover *****/
            .rating > input:checked ~ label,
            /* show gold star when clicked */
            .rating:not(:checked) > label:hover,
            /* hover current star */
            .rating:not(:checked) > label:hover ~ label {
                color: #f85b51;
            }
            /* hover previous stars in list */
            .rating > input:checked + label:hover,
            /* hover current star when changing rating */
            .rating > input:checked ~ label:hover,
            .rating > label:hover ~ input:checked ~ label,
            /* lighten current selection */
            .rating > input:checked ~ label:hover ~ label {
                color: #f33327;
            }
        }
        .movie-description {
            padding-bottom: 15px;
            margin-left: 45px;
            label {
                font-weight: normal;
            }
            p {
                margin-bottom: -4px;
                font-size: 15px;
                width: 85%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}